﻿@model dynamic

@{
    ViewBag.Title = "Terms of Service | isAnAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="hero-unit ">
        <div id="terms">
            
            <h2>Terms of Service</h2>
            <br/>
            <h4><strong>Your Agreement with us</strong></h4>

            <p class="FontSmall">In order to use the Service, you must first agree to the Terms. You can agree to the Terms by actually using the Service. You understand and agree that AppHarbor will treat your use of the Service as acceptance of the Terms from that point onwards.</p>

            <h4><strong>Your Account and Use of the Service</strong></h4>

            <p>Your use of the Service must comply with all applicable laws, regulations and ordinances, including any laws regarding the export of data<br />
                You are responsible for the security of your passwords and for any use of your account</p>

            <h4>
                <strong>Content in the Website and Take Down Obligations</strong></h4>

            <p>You understand that all information (such as data files, written text,etc.) to which you may have access as part of, or through your use of, the Service are the sole responsibility of the person from which such content originated. All such information is referred to below as the &quot;Content&quot;.</p>

            <p>We reserve the right (but shall have no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all Content from the site. You agree to immediately take down any Content that violates the Program Policies, including pursuant to a take down request from us. In the event that you elect not to comply with a request from us to take down certain Content, We reserves the right to directly take down such Content or to disable the site.</p>

            <p>You agree that you are solely responsible for (and that we have no responsibility to you or to any third party for) the Application or any Content that you create, transmit or display while using the site and for the consequences of your actions (including any loss or damage which we may suffer) by doing so.</p>

            <p>You agree that we have no responsibility or liability for the deletion or failure to store any Content and other communications maintained or transmitted through use of our site. You further acknowledge that you are solely responsible for securing and backing up your Content.</p>

            <h4><strong>License For You</strong></h4>

            <p>We claim no ownership or control over any Content. You retain copyright and any other rights you already hold in the Content, and are responsible for protecting those rights, as appropriate.&nbsp;
                &nbsp;</p>
                <h4><strong>Privacy</strong></h4>

            <p>The owner is not responsible for the republishing of the content found on this site on other Web sites or media without permission.<br />
                other login information the information will be available to your application and to AppHarbor.</p>

            <p>The owner of this site reserves the right to edit or delete any comments/posts submitted to this site without notice due to;</p>

            <p>1. Content deemed to be spam or questionable spam<br />
                2. Content including profanity<br />
                3. Content containing language or concepts that could be deemed offensive</p>

            <h4><strong>Terms and Conditions</strong></h4>

            <p>The owner of this site makes no representations as to the accuracy or completeness of any information on this site or found by following any link on this site. The owner will not be liable for any errors or omissions in this information nor for the availability of this information. The owner will not be liable for any losses, injuries, or damages from the display or use of this information.</p>

            <p>This policy is subject to change at anytime.<br />
                You understand and agree that if you use our Service after the date on which the Terms have changed, We will treat your use as acceptance of the updated Terms.</p>


        </div>


    </div>
</div>