﻿@using Microsoft.Web.Helpers
@model People.Models.CommentsModel
<div id="commentEditor">
    <div id="commentPrompt"> Leave a Comment !</div>
    @using (Ajax.BeginForm("Comments", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Post",
            OnSuccess = "people.urlmapping.addCommentSuccessfull",
            OnFailure = "people.urlmapping.addCommentFailure"
        }, new {id = "commentForm", @class = "commentForm", name="commentModel"}))
    {
        @Html.Hidden("PostId", Model.PostId)
                
        <div>
            <input type="text" id="commentNamePrompt" name="Name" placeholder="Name (required)"/> 
        </div>
        <div>
            <input type="text" id="commentEmailPrompt" name="Email" placeholder="Email (optional)"/> 
        </div>
        <textarea id="commentBodyInput" class="input-block-level" name="Body" rows="5" placeholder="Enter your comment ..."></textarea>
        //todo : put a cotcha, bot check !
        <div>
            <small id="addCommentErrors" class="text-error"></small>
        </div>
        @ReCaptcha.GetHtml()
        <input type="submit" id="commentSubmitInput" class="btn btn-primary btn-small" ajaxUrl="@Url.Action("Comments","Url")" name="submit" value="Post"/>
        <a id="fakeCommentSubmitInput" class="btn btn-warning btn-small" style="display: none" >
            <i class="icon-upload"></i>
            <span>Posting...</span>
        </a>
    }
</div>
