﻿@using People.Models
@model DAL.FNhibernate.Entities.Posts


<div id="commentContainer">
    
    <h4> Comments </h4>

    @foreach (var comment in Model.Comments.OrderBy(comments => comments.Samay))
    {
        <div class="comment breadcrumb" id="comment_@comment.Id">
            @*            <div class="commentName">*@
            @if(!string.IsNullOrWhiteSpace(comment.Email))
            {
                <a href="mailto:@comment.Email" class="text-info">@comment.Name</a>
            }
            else
            {
                <b class="text-info"> @comment.Name </b>
            }
            @*            </div>*@
            <span class="commentTime pull-right text-info"> @comment.Samay.ToLongDateString() at @comment.Samay.ToString("HH:mm") </span>

            <div class="commentBody">@Html.Raw(Html.Encode(comment.Body).Replace("\n","<br/>")) </div>

            @if(ViewBag.IsAdminOrOwner?? false)
            {
                <div class="commentControlPanel">
                    <button class="deleteComment btn btn-mini btn-danger" ajaxUrl="@Url.Action("DelteComment","Url",new {@comment.Id})">Delete</button>
                </div>
            }
        </div> 
        <div id="toastMe" class="text-center text-warning"></div>
    }
    @if (Model.Commentable)
    {
        @Html.Partial("AddComment", new CommentsModel{PostId = Model.Id})
    }
    else
    {
        <i>Comments disabled !</i>
    }
</div>
