﻿@using System.Configuration
@using People.Helpers
@model DAL.FNhibernate.Entities.Posts

@{
    ViewBag.Title = @Model.Title.Chop(20) + " | isAnAsshole";
    Layout = "~/Views/Shared/_MainUrlLayout.cshtml";
}
@{
    string domainName = ConfigurationManager.AppSettings["DomanName"];
    string iframeUrl = Url.Action("IframeBody", new {id = Model.Id});
}
            
<div class="container">
    <br />
    <h3 class="text-center breadcrumb">@Model.Title</h3>
    @if (Model.ShowHits)
    {
        <b class="pull-right">Website Hits: @ViewBag.Hits</b>
    }
    <div class="hero-unit">
        <div class="iframe_body">
            <iframe id="iframeBody" src="@iframeUrl" frameborder="0" height="100" width="100%" scrolling="no"
                onLoad="people.urlmapping.calcIframeHeight();">
            </iframe>
        </div>
        @if (ViewBag.IsAdminOrOwner ?? false)
        {
            <div class="postControlPanel">
                @Html.ActionLink("Edit","Edit","Url","http",domainName,"",new {id  = Model.Id}, new {@class = "btn btn-primary btn-small "})
            </div>
        }
        @Html.Partial("TwitterFacebookLinks")
        <br/>
        <div class="pull-left small-texty">
        @Html.ActionLink("Create similar page?","Index","Home","http",domainName,"",null, new {})
        </div>
        <br/>
        <hr/>
        @Html.Partial("Comments",Model)
    </div>
</div>