﻿/*#toastMe {
    position: fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
} 
*/

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors 
{
    color: #ff0000;
}

.error
{
    color: #ff0000;
}

.orange
{
    color: #FA8072;
}

.whitish_footer
{
    color: #ffffff;
    font-size: 12px;
}
.whitish_footer:hover {
    color:#ffffff;
}

.icon-search { cursor: pointer; }

#terms p 
{
    font-size:small;
}
#privacy p 
{
    font-size:small;
}
.validation-summary-valid
{
    display: none;
}
.small-texty {
    font-size:small;
}
.blue {
    color: #2B60DE;
}
.tracks {
    background: url('img/tracks_super_min.jpg');
    background-attachment:fixed;
    padding-top: 60px;
}

@media (max-width: 979px) {
  .tracks {
    padding-top: 0;
  }
}
.see-through {
    opacity: .5;
}
