﻿@{
    ViewBag.Title = "Oops something went wrong ! | isAnAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/urlmapping.js")" type="text/javascript"> </script>

<div class="container">
    <div class="hero-unit">
        <h2 style="text-align: center;">
                Oops something went wrong, Rajinikanth must be angry with you !  
        </h2>
    </div>
</div>