﻿@model dynamic

@{
    ViewBag.Title = "Privacy | isAnAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="hero-unit ">
        <div id="privacy">
            
        <h2> Privacy Policy </h2>
        <br/>
        <h4>Our Principles</h4>

        <p>We are committed to handling responsibly the information and data we collect about you through our Websites, whether personal information or non personal browsing and site usage data. We have designed our Privacy Policy and our Data Usage Policy consistent with the following principles (the &ldquo;Principles&rdquo;):</p>

        <p>Only the minimum amount of information reasonably necessary to provide you with services should be collected and maintained, and only for so long as reasonably needed or required;</p>

        <p>Information you provide through our Websites, or that we gather as a result of your use of our Websites, should not be used for marketing or advertising purposes, nor should it be provided voluntarily (without your permission) to anyone else unless required; and</p>

        <p>Unless restricted or prohibited by law, and provided your email address has been collected and retained, you should be notified when circumstances require us to provide a third party with your personal information.</p>

        <h4><strong>Personal Information we Collect</strong></h4>

        <p>We may collect personal information at several places on the Websites, including without limitation:</p>

        <p>When you provide us with your personal information such as by sending an email to us or signing up to receive a newsletter or our events listing;</p>

        <p>when you subscribe to one of our email discussion lists or register to establish a user account on any of our Websites;</p>

        <p>and when you provide personal information in connection with your participation in any of the forums we make available to that community.</p>

        <h4><strong>What we do with Personal Information</strong></h4>

        <p>Emails and Newsletters. We use the personal information you provide to us when you send us emails or sign up to receive our newsletter or events listing in order to respond to your request &mdash; for example, to reply to your email or to send you communications about news and events.</p>

        <p>Any other personal information that we may collect which is not described specifically in this Privacy Policy will only be collected and used in accordance with the Principles.</p>

        <p>Disclosures of Personal Information</p>

        <p>In general, it is not our practice to disclose personal information to third parties. We may share personal information in two instances:</p>

        <p>First, we may share personal information with our contractors and service providers in order to maintain, enhance, or add to the functionality of the Websites.</p>

        <p>Second, we may disclose your personal information to third parties in a good faith belief that such disclosure is reasonably necessary to (a) take action regarding suspected illegal activities; (b) comply with legal process, such as a search warrant, subpoena, statute, or court order; or (c) protect our rights, reputation, and property, or that of our users, affiliates, or the public.</p>

        <h4><strong>Security of Personal Information Collected via the Websites</strong></h4>

        <p>We have implemented reasonable measures to protect against unauthorized access to and unlawful interception or processing of personal information that we store and control. However, no website can fully eliminate security risks. Third parties may circumvent our security measures to unlawfully intercept or access transmissions or private communications. We will post a reasonably prominent notice to the Websites if any such security breach occurs.</p>

        <p>Data Usage Policy: Non Personal Browsing and Site Usage Information</p>

        <p>Our Data Usage Policy covers how we maintain and use information about you that is collected by our Websites and server logs, including when you log into a website.</p>

        <p>Non Personal Browsing Information We Collect. When you use the Websites, our servers (which may be hosted by a third party service provider) may collect information indirectly and automatically (through, for example, the use of your &ldquo;IP address&rdquo;) about your activities while visiting the Websites and information about the browser you are using.</p>

        <p>No Selling or Sharing. Except in the unique situations identified in this Privacy Policy, We do not sell or otherwise voluntarily provide the non personal browsing information we collect about you or your website usage to third parties.</p>

        <p>No Retention. We discard non personal browsing information from our server logs once we have used the information for the limited purposes noted above, under &ldquo;No Linking.&rdquo;</p>

        <p>Any other non-personal information that we collect which is not described specifically in this Privacy Policy will only be collected and used in accordance with the Principles.</p>

        <h4><strong>Children</strong></h4>

        <p>The Websites are not directed at children under the age of 13. Consistent with the federal Children&rsquo;s Online Privacy Protection Act of 1998 (COPPA), we will never knowingly request personal information from anyone under the age of 13 without requiring parental consent. Our Terms of Use specifically prohibit anyone using our Websites from submitting any personally identifiable information about persons under 13 years of age. Any person who provides their personal information to AppHarbor through the Websites represents that they are 13 years of age or older.</p>

        <p>Third-Party Sites</p>

        <p>The Websites may include links to other websites. You should consult the respective privacy policies of these third-party sites. This Privacy Policy does not apply to, and we cannot control the activities of, such other websites.</p>

        <h4><strong>Special Note to International Users</strong></h4>

        <p>The Websites are hosted in the United States. If you are accessing the Websites from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use and disclosure that differ from United States laws, please note that you are transferring your personal data to the United States which does not have the same data protection laws as the EU and other regions. By providing your personal data you consent to:</p>

            <p>The use of your personal data for the uses identified above in accordance with the Privacy Policy; and<br />
                The transfer of your personal data to the United States as indicated above.</p>

        </div>

    </div>
</div>