﻿@model IList<DAL.FNhibernate.Entities.UrlMapping>

@{
    ViewBag.Title = "Search .. | isAnAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Search results..</h2>
<div class="container">
    <div class="hero-unit">
        @if(Model.Count == 0){
            <small class="text-center text-warning"> No results found. </small>
        }
        else
        {
            int pageNumberFromOne = @ViewBag.PageNumber + 1;
                <span class="pull-right text-warning small-texty">Page: @pageNumberFromOne of @ViewBag.TotalCount</span>
            <br/>
            foreach (var url in Model)
            {
                //todo: pagination bitch !

                string fullUrl = "http://" + url.Url + @ViewBag.DomainNameWithDot;
                string fullUrlWithoutProtocol = url.Url + @ViewBag.DomainNameWithDot;
                <div class="text-center">
                    <a href="@fullUrl" target="_blank" >@fullUrlWithoutProtocol</a>
                </div>
            }
            bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
            bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
            if (isPreviousLinkVisible)
                {
                    <a id="previousLink" href="@Url.Action("Index","Search",new{@ViewBag.query, pageNumber = @ViewBag.PageNumber - 1})" class="pull-left text-warning"> &lt; PreviousPage</a>
                }
                if (isNextLinkVisible)
                {
                    <a id="nextLink" href="@Url.Action("Index","Search",new{@ViewBag.query, pageNumber = @ViewBag.PageNumber + 1})" class="pull-right text-warning"> NextPage &gt; </a>
                }
        }
    </div>
</div>

