﻿@model dynamic

@{
    ViewBag.Title = "Contact Us | isAnAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <h4 class="text-center">
        You're feedback and suggestions for the site are welcome. 
    </h4>
    <h4 class="text-center">
        Feel free to reach to us at <a href="http://in.linkedin.com/in/isanasshole">eyesasc@gmail.com</a>
    </h4>
</div>
